<div id="{{id}}">
	<div class="probuct-info">
		<img src="/src/assets/logo.png" alt="" class="search-icon">
		<h1>Quza - твоя облачная</h1>
		<h1>лаборатория 💙</h1>
		<h3>Просто, быстро и бесплатно для всех</h3>
		<li>Выполняй код в облаке</li>
		<li>Работай с Python и другими языками</li>
		<li>Создавай, редактируй и делись ноутбуками</li>
		<li>Запускай вычисления без установки софта</li>
		<li>Отслеживай ресурсы и управления квотами</li>
		<li>Работай с ipynb-файлом легко</li>
	</div>
	<div class="glassmorphism-container">
		<div class="auth-container">
			<div class="form-container sign-in">

			</div>
			<div class="form-container sign-up">

			</div>
			<div class="toggle-container">
				<div class="toggle">
					<div class="toggle-panel toggle-left">
						<h2>Уже есть аккаунт?</h2>
					</div>
					<div class="toggle-panel toggle-right">
						<h2>Ещё нет аккаунта?</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>