#codes-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 60px 0px 0px 0px;
    background: var(--background-main-color);
    overflow: hidden;
}

#codes-page.active  {
    display: grid;
    grid-template-columns: 325px 1fr;
    grid-template-rows: 100%;
}


.codes-container {
    padding: 15px 45px 40px 45px;
    border-radius: 15px;
    width: 2000px;
    background-color: aliceblue;
}
.codes-container .data-container {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    border-radius: 5px;
    width: 100%;
    transition: 0.5s;
    position: relative;
}
.codes-container .data-container .update-time {
    position: absolute;
    right: 310px;
    font-weight: 900;
    color: black;
}

.codes-container .data-container h3 {
    padding-left: 12.5px;
}

.codes-container .data-container .content {
    position: absolute;
    right: 50px;
    font-weight: 900;
    color: black;
}
.codes-container .data-container .title {
    position: absolute;
    font-weight: 900;
    color: var(--text-main-color--darker);
}
.codes-container .data-container:before{ 
    content: "";
    background: black;
    width: 100%;
    height: 1px;
    top: 25px;
    position: absolute;
  }

.codes-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.codes-container::-webkit-scrollbar {
    width: 6px;
}

.codes-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background: var(--scrollbar-main-color);
}

.codes-container .not-found-label {
    margin-top: 25px;
    color: var(--text-main-color);
    text-align: center;
}