.text-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ccc;
    border-radius: 15px;
    padding: 15px 15px 15px 15px;
    width: 100%;
    transition: 0.5s;
    position: relative;
    margin-top: 1%;

}

.text-container p {
    color:black;
}
